td {
    border: 3px solid black;
    border-collapse: separate;
    margin: 0;
    width: 80px;
    height: 80px;
    font-size: 50px;
    text-align: center;
    empty-cells: show;
}

img {
    display: table-cell;
    image-rendering: auto;
    width: 100%;
    height: 100%;
}